<h1>roomshare</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

  <h4> <%= current_user.name %> </h4>
  <%= link_to "ルーム登録", rooms_new_path, method: :get %>
  <%= link_to "登録済み一覧", rooms_index_path, method: :get %>
  <%= link_to "設定", users_show_path, method: :get %> <!-- account確認をする -->
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
  <%= link_to "user room 一覧", rooms_show_path, method: :get %>
  <%= link_to "ルーム予約", new_reservation_path, method: :get %>
  <%= link_to "ルーム予約", reservations_path, method: :get %>
  
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>