<!DOCTYPE html>
<html>
  <head>
    <title>Bong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
　<div class="header">
　　<a class="header-logo" href="https://c811f84b46da4196b2f7067170a85db7.vfs.cloud9.us-east-2.amazonaws.com/"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
　　<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
    <div class="header-user">
     <h4> <%= current_user.name %> </h4>
    </div> 
    <div class="header-user">
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
    </div>
    
    <div class="header-menu">
      <%= link_to "ROOM新規登録", new_room_path, method: :get %>
    </div>  
    <div class="header-menu">
      <%= link_to "ROOM一覧", rooms_path, method: :get %>
    </div>   
    <div class="header-menu">
      <%= link_to "myルーム登録一覧", room_path(current_user.id), method: :get %>
    </div>
    <div class="header-menu">  
       <%= link_to "ROOM予約", new_reservation_path, method: :get %>
    </div>
    <div class="header-menu">  
    　　<%= link_to "全ての予約履歴", reservations_path, method: :get %>　
    </div>
    <div class="header-menu">  
    　　<%= link_to "私の予約履歴", reservation_path(current_user.id), method: :get %>   
    </div>　　
    <div class="header-menu">
      <%= link_to "アカウント設定", users_show_path, method: :get %> <!-- account確認をする -->
    </div>   
     
  
   
    
    
    <%= link_to "test", lend_path, method: :get %>  
    <% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
   <div class="header-login">
    <%= link_to "ログイン", new_user_session_path, class: 'post' %>
   </div>  <!-- ログイン画面に移行する -->
   <div class="header-login">  
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
   </div>  
    <% end %>
　　</div>

    <%= yield %>
 <div class="footer">
   <div class="footer-logo">
     <h4>2021.6.bongju</h4>
   </div>
 </div>    
 </body>
</html>
